/**
 * Inspired by https://sherbrow.github.io/ungrid/flex.html
 */

@mixin row($small-direction: column, $medium-direction: row, $large-direction: null, $xlarge-direction: null) {
  display: block;
  display: flex;
  flex-direction: $small-direction;

  @include breakpoint($medium) {
    flex-direction: $medium-direction;
  }

  @if ($large-direction) {
    @include breakpoint($large) {
      flex-direction: $large-direction;
    }
  }

  @if ($xlarge-direction) {
    @include breakpoint($xlarge) {
      flex-direction: $xlarge-direction;
    }
  }
}

.row {
  @include row;
}

.row--boat {
  flex-direction: row;
}


@mixin col($flex-basis: 0%, $flex-grow-shrink: 1, $flex-shrink: null) {
  flex: $flex-grow-shrink $flex-grow-shrink $flex-basis;
  flex-shrink: $flex-shrink;
  box-sizing: border-box;
}

.col {
  @include col;
}
